{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "drift": true,
    "Promise": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true,
    "react": {
      "pragma": "React",
      "version": "15.0"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
  "react"
  ],
  "rules": {
    "semi": [2, "never"],
    "strict": 0,
    "quotes": 0,
    "no-unused-vars": 0,
    "no-multi-spaces": 1,
    "camelcase": 0,
    "no-use-before-define": [2,"nofunc"],
    "no-underscore-dangle": 0,
    "no-unused-expressions": 2,
    "comma-dangle": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-did-mount-set-state": 1
  }
}
